<script type="text/x-handlebars">
  {{#each EmberTest.Notifications}}
  <div class="alert alert-info fade in">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-g">{{title}}</h4>
    {{text}}
  </div>
  {{/each}}
</script>
